@using EcommerceWebsite.Models;

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        @{
            //this is comment
           
            string company = "Transflower";
            <h1 id="title">@company</h1>
            
        }
        
        
    </section>

    
</main>